#h1{
  color: #e6e6e6;
}
#contact{
  position:absolute;
  right:30px;
  left:auto;
  top:100px;
  float: right;
}


#i{
  color:#0000b3;
  font-style: italic;
  font-size: 40px;
  font-family:sans-serif;
  font-weight: bolder;
}
#name{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 60px;
}
#college{
  font-size: 20px;
  color:#737373;
}

.heading{
  font-size: 40px;
  font-weight: bold;
}

.sub1{
  font-weight: bold;
  font-size: 40px;
}

#d{
  color= #e6e6e6;
  font-size: 20px;
}
